:root {
  /* Colors */
  --main: #282c34;
  --main-2: #999;;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

a {
  text-decoration: none;
}


.App {
  text-align: center;
}

/* Header */

.header--container {
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.header--link {
  color: var(--main-2);
}

/* Home */

.home--container {

}

.home--heading {
  background-image: linear-gradient(to right, var(--main-2) , white);
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

.home--heading img {
  height: 70%;
}

/* Catalog */

.catalog--container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  justify-content: center;
}

.catalog--product {
  margin: 15px auto 15px;
  background-color: #f4f5f5;
  border-radius: 10px;
}

.catalog--product img{
  width: 350px;
  height: 350px;
}

/* Cart */
.cart--container {
  height: 100vh;
  padding-top: 15px;
  color: var(--main);
  font-weight: bolder;
}

.shopping--cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cart--items{
  display: flex;
  padding: 15px;
  flex-direction: column;
  width: 332px;
 }

.cart--checkout {
  padding-top: 15px;
  font-weight: lighter;
}

.cart--button {
  background-color: var(--main);
  border: none;
  border-radius: 3px;
  color: #f4f5f5;
  padding: 5px;
  font-weight: bold;
  cursor:pointer;
}

.cart--button:hover {
  background-color: var(--main-2);
}

.cart--amounts {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart--product {
  display: flex;
  align-self: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px;
  width: 300px;
  justify-content: center;
}

.cart--content {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.cart--title {
  font-size: larger;
  font-weight: bolder;
  color: var(--main);
}

.cart--img {
  height: 100px;
  align-self: center;
  padding-right: 15px;
}

/* Footer */

.footer {
  background-color:#282c34;
  color: white;
  height: 40px;
  justify-content: center;
  display: grid;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40px;
  overflow: hidden;
}

.footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}




